.carousel-item {
  &__img {
    background-image: url(../img/fon.jpg);
    background-size: cover;
    height: 990px;
    background-repeat: no-repeat;
    background-position: bottom;
  }

  &__title {
    font-size: 32px;
    font-weight: 400;
    font-family: $primary-font;
    line-height: 2rem;
    color: $primary;
  }

  &__texts {
    display: flex;
    justify-content: space-between;

  }

  &__text-item {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4rem;
    color: $text;
    margin-right: 15px;
    width: 33%;

    span {
      font-size: 40px;
      font-weight: 300;
      line-height: 2.5rem;
      color: $primary;
      float: left;
      padding-right: 15px;
      padding-top: 7px;

    }
  }
}
